*{
    margin: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
body{
    background-color: rgb(51, 13, 13)
}
/* area que meche no header do site */
.conteiner-header{
    background-color: black;
    display: flex;
}
.header{
    display: flex;
    width: 20%;
}
.header img{
    width: 100%;
    margin-top:1%;
    padding-bottom: 0.5%;
}   
.header a{
    width: 40%;
    margin-left: 50%;
}
.header-infos a{
    font-size: 1.2vw;
    color: white;
    text-decoration: none;
    align-items: center;
    text-align: center;
    margin-left: 10%;
}
.header-infos{
    display: flex;
    text-align: center; 
    width: 40%;
    padding-top: 1.3%;

}
.header-infos a:hover{
    color: rgb(150, 24, 24);
    transition: 0.3s;
}
.entrar-cadastrar{
    padding-left: 5%;
    width: 20%;
    text-align: center;
    align-items: center;
    padding-top: 1.5%;
}
.entrar-cadastrar a {
    text-decoration: none;
    color: white;
    font-size: 1vw;
    background-color: rgb(0, 0, 0);
    border-radius: 16px;
    padding: 2.5%;    
    border: 2px solid white;
    margin-left: 20%;
}
.entrar-cadastrar a:hover{
    background-color: rgb(150, 24, 24);
    transition: 0.3s;
}
.carrocel{
    margin-top: 2%;
    text-align: center;
    
}
.carrocel img{
    width: 70%;
    position: relative;
}
#btn-flutuante{
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    left: 600px;
    top: 450px;
    background-color: rgb(0, 0, 0);
    border: solid 2px white;
    color: white;
}
#btn-flutuante:active{
    transform: scale(0.95);
    background-color: white;
    color: black;
    transition: 0.10s;
}
#btn-flutuante:hover{
    background-color: aliceblue;
    color: black;
}

.produtos{
    text-align: center;
    color: white;
    padding-top: 5%;
}

/*classe car que criei no js*/
.conteiner-produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 25%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(32, 32, 32);
    padding: 16px;
    border-radius: 20px;
    margin-left: 2%;
    margin-top: 5%;
}