<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../style/cadastro.css" />
    <script src="../script/cadastro.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <section class="conteiner-body">
        <div class="input-cadastro">
      <input type="text" id="nome" placeholder="digite o seu nome" />
      <input type="text" id="email" placeholder="digite seu email" />
      <input type="text" id="senha" placeholder="digite um senha valida" />
      <input type="text" id= "telefone" placeholder="digite seu telefone para contato"/>
      <input type="text" id="cpf" placeholder="digite o seu cpf"/>
      <button id="btn-cadastro">Enviar</button>
      </div>
    </section>
  </body>
</html>
