<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      href="../assets/goku.svg"
      type="image/x-icon"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/index.css" />
    <script src="../script/index.js" defer></script>
    <title>Home</title>
  </head>
  <body>
    <header class="conteiner-header">
      <nav class="header">
        <a href="index.html"><img src="../assets/goku (1).png" alt="" /></a>
      </nav>
      <nav class="header-infos">
        <a href="">Home</a>
        <a href="">Produtos</a>
        <a href="">Atendimento</a>
        <a href="">sobre nós</a>
      </nav>
      <nav class="entrar-cadastrar">
        <a href="">Entrar</a>
        <a href="./cadastro.html">Cadastrar-se</a>
      </nav>
    </header>
    <section class="conteiner-body">
      <div class="carrocel">
        <img id="img" src="../assets/img-carrocel1.png">
      </div>
      <button id="btn-flutuante">VER PRODUTOS</button>
      <div class="produtos">
        <h1>Mais vendidos</h1>
        <div id="lista-produtos" class="conteiner-produtos">
          
        </div>
      </div>
    </section>
  </body>
</html>
