* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
      }

      body {
        background-color: #b4b4b4;
        color: #333;
      }

      header {
        background-color: #111;
        color: #fff;
        padding: 15px 30px;
      }

      header h1 {
        font-size: 20px;
      }

      main {
        padding: 30px;
      }
      a{
        color: black;
        text-decoration: none;
      }
      .qtd{
        display: flex;
        gap: 10px;
      }
      #qtd-produtos, #qtd-usuarios{
        color: rgb(8, 0, 128);
      }
      .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 30px;
      }

      .card {
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      }
      .card:hover {
        transform: scale(1.1);
        transition: 0.2s;
      }
      .hidden{
        display: none;
      }

      .card h2 {
        font-size: 16px;
        margin-bottom: 10px;
      }

      .card p {
        font-size: 14px;
        color: #555;
      }

      footer {
        margin-top: 40px;
        text-align: center;
        font-size: 12px;
        color: #000000;
      }

      /* ===== Skeleton ===== */
.skeleton {
  pointer-events: none;
}

.skeleton-text {
  margin-bottom: 3px;
  background: linear-gradient(
    90deg,
    #eee 25%,
    #f5f5f5 37%,
    #eee 63%
  );
  background-size: 400% 100%;
  animation: skeleton-loading 1.4s ease infinite;
}

.skeleton-text {
  height: 14px;
  border-radius: 6px;
}

.skeleton-text.title {
  width: 70%;
  height: 18px;
}

.skeleton-text.small {
  width: 50%;
}

.skeleton-text.price {
  width: 40%;
  height: 20px;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
