* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #b4b4b4;
  color: #333;
}

header {
  background-color: #111;
  color: #fff;
  padding: 15px 30px;
}
header h1 {
  font-size: 20px;
}
.conteiner-body h2 {
  margin-top: 20px;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
}
/* ================= FORM ADICIONAR PRODUTOS ================= */

.add-produtos {
  background-color: #ffffff;
  max-width: 900px;
  margin: 30px auto;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.add-produtos h2 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #222;
}

/* FORM */
#form-produto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

#form-produto label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #444;
}

/* INPUTS */
#form-produto input {
  margin-top: 5px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: border 0.2s ease;
}

#form-produto input:focus {
  outline: none;
  border-color: #111;
}

/* BOTÃO */
#form-produto button {
  grid-column: 1 / -1;
  margin-top: 10px;
  padding: 12px;
  background-color: #111;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.2s ease;
}

#form-produto button:hover {
  background-color: #333;
}

/* ================= LISTAGEM ================= */

.conteiner-body {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
}

.conteiner-body h2 {
  margin: 20px 0;
  font-size: 18px;
  color: #222;
}

/* BOTÃO CARREGAR */
#btn-carregar-produtos {
  padding: 10px 16px;
  background-color: #fff;
  border: 1px solid #111;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
}

#btn-carregar-produtos:hover {
  background-color: #111;
  color: #fff;
}

/* LISTA */
#lista-produtos {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}

/* CARD PRODUTO */
.produto-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.produto-card h3 {
  font-size: 15px;
  margin-bottom: 6px;
}

.produto-card p {
  font-size: 13px;
  color: #555;
  margin-bottom: 4px;
}
