<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/adm.css">
    <script src="../script/adm.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adm</title>
</head>
<body>
    <input type="text" placeholder="nome">
    <input type="text" placeholder="cor">
    <input type="text" placeholder="tamanho">
    <input type="text" placeholder="preco">
    <input type="text" placeholder="quantidade">
    <input type="file" placeholder="img">
</body>
</html>